# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Logs
logs/
*.log

# Archivos generados
output/
*.xlsx

# Windows
Thumbs.db
desktop.ini

# PyInstaller
build/
dist/
*.spec